body {
    background-color: #111;
    color: white;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

a {
    text-decoration: none;
}

h1 {
    color: white;
    font-size: 35px;
    font-weight: 800;
    position:relative;    
    left: 0;
}

.userheader {
    position: fixed;
}

.avatar {
    display: inline-block;
    float: left;
}

.username {
    color: white;
    font-size: 23px;
    font-weight: 800;
    display: inline-block;
    float: left;
    margin-top: 20px;
}

.stats {
    font-size: 16px;
    font-weight: 600;
}

.game {
    color: white;
    font-size: 20px;
    font-family: "Motiva Sans";
    font-weight: 900; 
    text-align: left;
}

.progress {
    height: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
    color: #56707f;
    font-family: "Motiva Sans";
    font-weight: bold;
    font-size: 14px;
    text-align: left;
}

.progress-bar {
    height: 20px;
    width: 126px;
    background: #BABABA;
    position: relative;
}

.progress-bar span {
    color: #f9f9f9;
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 15px;
    display: block;
    margin: auto;
    text-align: center;
    position: relative;
    z-index: 1;
}

.progress-bar div.bar {
    height: 20px;
    background: #336291;
    position: absolute;
    top: 0;
    left: 0;
}