<!DOCTYPE html>
<html lang="en">
<head>
    <title>Steam Profiles - Steam Achievement Tracker</title>
    <meta charset="UTF-8">
    <meta name="Description" content = "Track your Steam Achievements.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="steamprofiles.css">
</head>

<body>
    <div class="user-games">
        <table id="gamesTable">
            <tbody>
                <% for(var i=0; i<gamedata.length; i++) {%>
                <tr>
                    <td><img src="<%= gamedata[i].logoURL %>" alt="" height="56" width="100"> </td>
                    <td><%= gamedata[i].name %></td>
                </tr>
                <% } %>
            </tbody>
        </table>
        </div>
        </div>
    </div>
</body>
</html>


     